body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC3vzbedTDPb2HoJRsMlO3uNAH_KUxWLCJ7g&usqp=CAU)
}
.Atorrante {
    font-family: 'Qahiri', sans-serif;
    color:black
}

.Je {
    font-family: 'Qahiri', sans-serif;
    color: blueviolet;
    font-size: 22px;
}

.Lechu {
    font-family: 'Zen Loop', cursive;
    color: crimson;
    font-size: 44px;
}

.alfa {
    font-family: 'Zen Loop', cursive;   
    color:blanchedalmond;
    font-size: 40px;
}